<!-- Pass data to Vue-->
<script>
  var $req = {{ JSON req }};

</script>
<!-- Simple splash screen-->
<div class="splash">
  <div class="color-line"></div>
  <div class="splash-title">
    <h1>Welcome</h1>
    </p>Loading pages, thanks for waiting...</p>
    <img src="images/loading-bars.svg" width="64" height="64" /> </div>
</div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="color-line"></div>

<div class="back-link">
  <a href="index.html" class="btn btn-primary">Back to Dashboard</a>
</div>
<div id="login-app">
  <div class="login-container" v-show="activeView=='LoginView'">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center m-b-md">
          <h3>PLEASE LOGIN </h3>
          <small>Social media login coming soon!</small>
        </div>
        <div class="alert alert-info fade in" v-show="showMessage">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Info!</strong> \{{infoMessage}}
        </div>
        <div class="hpanel">
          <div class="panel-body">
            <form action="#" id="loginForm">
              <div class="form-group">
                <label class="control-label" for="username">Username (Email Address)</label>
                <input type="text" v-model="username" placeholder="example@gmail.com" v-validate="'required|email'" :class="{'has-error': errors.has('email'),'form-control':true }"
                  name="email">
                <span v-show="errors.has('email')" class="has-error control-label">\{{ errors.first('email') }}</span>
                {{!--
                <span class="help-block small">Your unique username(email) to app</span> --}}
              </div>
              <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" v-model="password" title="Please enter your password" v-validate="'required'" placeholder="******"
                  name="password" :class="{'has-error': errors.has('password'),'form-control':true }">
                <span v-show="errors.has('password')" class="has-error control-label">\{{ errors.first('password') }}</span>
                {{!--
                <span class="help-block small">Your password</span> --}}
              </div>
              {{!--
              <div class="checkbox">
                <input type="checkbox" class="i-checks" checked> Remember login
                <p class="help-block small">(if this is a private computer)</p>
              </div> --}}
              <br/>
              <button class="btn btn-success btn-block" @click="onLogin" :class="{'disabled': errors.any()}">Login</button>
              <a class="btn btn-default btn-block" @click="onToRegisterView">Register</a>
              <a class="btn btn-default btn-block" @click="onToForgetPasswordView">Forgot password</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <strong>Note:</strong> - \{{help_message }}
      </div>
    </div>
  </div>
  <panel-register @cancel="navToView('LoginView')"  v-show="activeView=='RegisterView'"></panel-register>
  <panel-forget-password @cancel="navToView('LoginView')"  v-show="activeView=='ForgetPasswordView'"></panel-forget-password>
  <panel-reset-password  @cancel="navToView('LoginView')"  v-show="activeView=='ResetPasswordView'"></panel-reset-password>
  {{> footer}}
</div>


<!-- Vue scripts -->
<script src="build/login.js"></script> {{!--
<script src="plugins/vue.min.js"></script>
<script src="plugins/vee-validate.min.js"></script>

<script>
  Vue.use(VeeValidate);
  var home = new Vue({
    el: '#login-app',
    components: {
      // "app-header": app_header,
      // "app-content": app_content,
    },
    data: {
      help_message: "Please use Email and Password to login"
    }
  });
</script> --}}