<h1>{{title}}</h1>
{{#each users}}
<p>Welcome  {{name}}</p>
{{/each}}
<h2>Config: {{config.host}}</h2>
<h2>connectionLimit: {{config.connectionLimit}}</h2>
<h2>views count: {{viewsCount}}</h2>
<h2>Redis count: {{redisCount}}</h2>

